body {
  padding: 0;
  font: 14px Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.index-body { 
  background: url("../images/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  display: block;
  font-weight: 600;
    font-size: 42px;
    margin-bottom: 18px;
    text-shadow: 0 0 50px rgba(0,0,0,.4);
    text-align: center;
}

h4 {
  text-align: center;
}

.login_btn{
  background-color: transparent;
  border-radius: 3px;
  border-color: white;
  border-image-width: 1px;
  min-width: 120px;
  text-align: center;
  height: 40px;
    line-height: 40px;
    color: white;

  box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif !important;
    font-weight: 600;
    font-size: 16px !important;
    text-align: center;
    text-decoration: none;
    transition: all .15s ease-in-out;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #fff;
}


.header_ {
  color: #ffffff;
/*   background-image: url('/images/banner-dark.png'); */

  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  width: 100%;
  margin-top: 10%;
}

.container_ {
  margin-top: 10%;
  padding: 0 20px;
  min-height: 200px;
  text-align: center;
}

.footer_ {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -99;
  text-align: center;
  color:white;
}

.footer-logo-container_ {
  position: relative;
}

.footer-logo_ {
  padding: 20px;
  float: right;
}

.footer_2 {
  width: 100%;
  
  bottom: 0;
  z-index: -99;
}


#map
{
    width: 100px;
    height: 480px;
    min-height: 100%;
    min-width: 100%;
    display: block;
}


.fill
{
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
}

.container_2 {
    margin-top: 50px;
  
}

.container_3 {
    margin-top: 0px;
}

.nopadding {
  padding: 0;
  margin: 0;
}


.myhidden{
   visibility: hidden;
   height:0;
}



#map
{
    width: 100%;
    height: 480px;
    min-height: 100%;
    min-width: 100%;
    display: inline-block;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mybackgroundHeader{
  background-image: url('../images/bgHeader.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 400px;
  width: 100%
}